header {
	background: rgb(135,224,253); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(135,224,253) 0%, rgb(83,203,241) 40%, rgb(5,171,224) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(135,224,253)), color-stop(40%,rgb(83,203,241)), color-stop(100%,rgb(5,171,224))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(135,224,253) 0%,rgb(83,203,241) 40%,rgb(5,171,224) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(135,224,253) 0%,rgb(83,203,241) 40%,rgb(5,171,224) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(135,224,253) 0%,rgb(83,203,241) 40%,rgb(5,171,224) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(135,224,253) 0%,rgb(83,203,241) 40%,rgb(5,171,224) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
	width: 80%;
	padding: 10px;
	margin: 10px 0;
	font-style: italic;
	float: left;
}

header h1 {

}

header h3 {
	text-align: right;
}

header#game_header {
	width: 90%;
	float: none;
	text-align: center;
	font-size: 1.6em;
	margin: 10px auto;
}

section#play {
	background: rgb(201,222,150); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(201,222,150) 0%, rgb(138,182,107) 44%, rgb(57,130,53) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(201,222,150)), color-stop(44%,rgb(138,182,107)), color-stop(100%,rgb(57,130,53))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(201,222,150) 0%,rgb(138,182,107) 44%,rgb(57,130,53) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(201,222,150) 0%,rgb(138,182,107) 44%,rgb(57,130,53) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(201,222,150) 0%,rgb(138,182,107) 44%,rgb(57,130,53) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(201,222,150) 0%,rgb(138,182,107) 44%,rgb(57,130,53) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
	width: 17%;
	height: 135px;
	margin: 10px 0;
	float: right;
}

section#play:hover {
	-webkit-box-shadow:  0px 3px 2px 0px rgba(66, 66, 66, 1), inset 0px 1px 2px 0px rgba(255, 255, 255, 1);
    box-shadow:  0px 3px 2px 0px rgba(66, 66, 66, 1), inset 0px 1px 2px 0px rgba(255, 255, 255, 1);
}

section#play button {
	display: block;
	background: transparent;
	border: none;
	font-size: 2em;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	text-decoration: none;
	color: black;
}

section#main, section#game {
	background: rgba(230, 230, 230, 0.8);
	float: right;
	width: 90%;
	padding: 10px;
	margin: 10px 0;
}

section#main h5 {
	background: rgb(135,224,253); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(135,224,253) 0%, rgb(83,203,241) 40%, rgb(5,171,224) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(135,224,253)), color-stop(40%,rgb(83,203,241)), color-stop(100%,rgb(5,171,224))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(135,224,253) 0%,rgb(83,203,241) 40%,rgb(5,171,224) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(135,224,253) 0%,rgb(83,203,241) 40%,rgb(5,171,224) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(135,224,253) 0%,rgb(83,203,241) 40%,rgb(5,171,224) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(135,224,253) 0%,rgb(83,203,241) 40%,rgb(5,171,224) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

	margin-left: -25px;
	padding: 10px;
}

section#game {
	text-align: center;
	float: none;
	margin: 10px auto;
}

footer {
	float: none;
	clear: both;
	text-align: center;
	background: rgba(230, 230, 230, 0.8);
	padding: 10px 40px;
	width: 60%;
	margin: 10px auto;

	-webkit-box-shadow:  0px 1px 2px 0px rgba(66, 66, 66, 1), inset 0px 1px 2px 0px rgba(255, 255, 255, 1);
    box-shadow:  0px 1px 2px 0px rgba(66, 66, 66, 1), inset 0px 1px 2px 0px rgba(255, 255, 255, 1);
}

p {
	font-family: serif;
}

img {
	max-height: 200px;
}

.shadow {
	-webkit-box-shadow:  0px 1px 2px 0px rgba(66, 66, 66, 1), inset 0px 1px 2px 0px rgba(255, 255, 255, 1);
    box-shadow:  0px 1px 2px 0px rgba(66, 66, 66, 1), inset 0px 1px 2px 0px rgba(255, 255, 255, 1);
}